# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Build folders
build/
bin/
obj/
out/
.hulk_cache/
#Test Results folder

tests/integration_tests/results/
# IDEs and Editors
.github/
.vscode/
.idea/
*.suo
*.sln
*.swp
.DS_Store
.codex
#Binaries
hulk

#Latex auxiliary files
./report/hulk_compiler_pipeline_report.log
./report/hulk_compiler_pipeline_report.aux
./report/hulk_compiler_pipeline_report.out
./report/hulk_compiler_pipeline_report.synctex.gz
./report/hulk_compiler_pipeline_report.toc
